<!-- form-appartment.component.html -->
<form [formGroup]="apartForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Apartment Number:</label>
      <input type="text" formControlName="apartmentNumber" class="form-control">
      <div *ngIf="f['apartmentNumber'].invalid && f['apartmentNumber'].touched" class="error-message">
        <div *ngFor="let error of getApartmentNumberErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <div class="form-group">
      <label>Floor Number:</label>
      <input type="text" formControlName="floorNumber" class="form-control">
      <div *ngIf="f['floorNumber'].invalid && f['floorNumber'].touched" class="error-message">
        <div *ngFor="let error of getFloorNumberErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <div class="form-group">
      <label>Surface:</label>
      <input type="text" formControlName="surface" class="form-control">
      <div *ngIf="f['surface'].invalid && f['surface'].touched" class="error-message">
        <div *ngFor="let error of getSurfaceErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <div class="form-group">
      <label>Terrace:</label>
      <select formControlName="terrace" class="form-control">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
  
    <div class="form-group">
        <label>Surface Terrace:</label>
        <input
          type="text"
          formControlName="surfaceTerrace"
          [disabled]="f['terrace'].value !== 'Yes'"
          class="form-control"
        >
        <div *ngIf="f['surfaceTerrace'].invalid && f['surfaceTerrace'].touched" class="error-message">
          <div *ngFor="let error of getSurfaceTerraceErrors()" class="error-item">{{ error }}</div>
        </div>
      </div>
   
  
    <div class="form-group">
      <label>Category:</label>
      <input type="text" formControlName="category" class="form-control">
      <div *ngIf="f['category'].invalid && f['category'].touched" class="error-message">
        <div *ngFor="let error of getCategoryErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <div class="form-group">
      <label>Description:</label>
      <textarea formControlName="description" class="form-control"></textarea>
      <div *ngIf="f['description'].invalid && f['description'].touched" class="error-message">
        <div *ngFor="let error of getDescriptionErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <div class="form-group" >
      <label>Residence:</label>
      <input type="text" formControlName="residence" class="form-control">
      <div *ngIf="f['residence'].invalid && f['residence'].touched" class="error-message">
        <div *ngFor="let error of getResidenceErrors()" class="error-item">{{ error }}</div>
      </div>
    </div>
  
    <button class= "btn btn-danger" type="submit"  [disabled]="apartForm.invalid" class="btn btn-primary">Add</button>
  </form>
  